    {% extends 'base/baseadmin.html' %}
    {% load staticfiles %}

    {% block tabcurrent %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminview:adminview' %}">Inicio
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminview:clasification' %}">Categorías
      </a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'adminview:article' %}">Productos</a>
      <span class="sr-only">(current)</span>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminview:sells' %}">Ventas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminview:design' %}">Diseño</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adminview:users' %}">Usuarios</a>
    </li>
    {% endblock %}

    {% block breadcrumb %}<li class="breadcrumb-item active">Productos</li>{% endblock %}

    {% block maincontent %}
    <!-- Page Content -->

    <div class="row">
      <div class="col-lg-8">
        <div class="btn-group">
          <button type="reset" class="btn btn-info dropdown-toggle dropdowntoggle-split" data-toggle="dropdown">
            <span class="caret">Mostrar por categoría</span>
          </button>
          <div class="dropdown-menu">
            {% if categoria %}
            {% for categoria in categoria %}
            <a class="dropdown-item" href="{% url 'adminview:order_by_list' id_category=categoria.pk %}">{{categoria.nombre_clasificacion}}</a>
            {% endfor %}
            <a class="dropdown-item" href="{% url 'adminview:article' %}"><strong>Mostrar todo</strong></a>
            {% endif %}
          </div>  
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle dropdowntoggle-split" data-toggle="dropdown">
            <span class="caret">Vista listada</span>
          </button>
          <div class="dropdown-menu">
            {% if withoutStock %}
              <a class="dropdown-item" href="{% url 'adminview:without_stock_cuadricula' %}">Vista cuadriculada</a>
            {% else %}
              <a class="dropdown-item" href="{% url 'adminview:cuadricula' %}">Vista cuadriculada</a>
            {% endif %}
          </div>  
        </div>
        {% if withoutStock %}
            <a href="{% url 'adminview:article' %}" class="btn btn-dark" role="button">Productos con inventario</a>
        {% else %}
            <a href="{% url 'adminview:without_stock' %}" class="btn btn-dark" role="button">Productos sin inventario</a>
        {% endif %}
        <div class="card mb-8">
          <div class="card-header">
            <i class="fas fa-chart-bar"></i>
          Productos disponibles</div>
          <div class="card-body">
            <div class="table-responsive-xl table-bordered">
              <table class="table table-hover" id="" width="100%" cellspacing="0">
                <thead>
                  {% if items %}
                  <tr><th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Ver</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody>
                  {% if items %}
                  {% for items in items %}
                  <tr>
                    <td>{{items.nombre_producto}}</td>
                    <td>{{items.id_clasificacion_fk}}</td>
                    <td>{{items.precio}}bsS</td>
                    <td>{{items.cantidad}}</td>
                    <td><a href="{% url 'article:show_article' id_article=items.pk %}"  target="_blank"  data-toggle="tooltip" title="Visualizar"><img src="{% static 'img/verify.png'%}"width="40px" height="40px" /></td></a>
                    <td><a href="{% url 'adminview:edit_article' id_article=items.pk %}"  data-toggle="tooltip" title="Editar"><img src="{% static 'img/edit.png'%}"width="40px" height="40px" /></td></a>
                    <td><a href="{% url 'adminview:delete_article' id_article=items.pk %}"  data-toggle="tooltip" title="Eliminar"><img src="{% static 'img/delete.png'%}"width="40px" height="40px" /></td></a>
                  </tr>
                  {% endfor %}
                  {% else %}
                    {% if isSearch %}
                    <strong><h7>Búsqueda sin resultados.</h7></strong>
                    {% else %}
                    <strong><h7>No hay registros.</h7></strong>
                    {% endif %}
                  {% endif %}
                </table>
                <div class="row">
                  <div class="col-lg-5 mt-4 mb-3">
                    <a href="{% url 'adminview:add_article' %}" class="btn btn-primary btn-user btn-block"><img src="{% static 'img/plus.png'%}"width="20px" height="20px" />
                      Añadir nuevo producto
                    </a>
                  </div>
                </div>
                {% if items.has_next or items.has_previous %}
                  <ul class="pagination justify-content-center">
                    {% if items.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Anterior</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">Anterior</a></li>
                    {% endif %}
                    {% for page in items.paginator.page_range %}
                    <li class="page-item {% if items.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}
                    {% if items.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Siguiente</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link">Siguiente</a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form action="{% url 'adminview:searchBar' option=1 %}" method="GET" class="d-none d-sm-inline-block form-inline mr-auto ml-md-0 my-2 my-md-20 navbar-search">
            {% csrf_token %}
            <div class="input-group">
              <input type="text" id="busqueda" class="form-control bg-light border-1 small" placeholder="Buscar producto..." aria-label="Search" aria-describedby="basic-addon2" name="busqueda">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                  <img src="{% static 'img/search.png'%}"width="20px" height="20px" />
                </button>
              </div>
            </div>
          </form>
          <img src="{% static 'img/vector-teacher-flat-illustration.jpg'%}" alt="" width="400px" height="200px">
          <h5 class="mb-1">Agrega y modifica tus productos para mostrarlos en la tienda virtual.
          </h5><strong>Vista Listada:</strong><h6> Perfecta si lo que quieres es visualizar rápidamente los artículos agregados para luego editarlos.</h6>
          <strong>Vista Cuadriculada:</strong><h6> Te ayuda a ver cómo va quedando el artículo en miniatura en la tienda virtual, la opción ideal para administradores!.</h6>
        </div>
      </div>
      <p class="small text-center text-muted my-5"><em>weMarket | Página de administrador</em></p>
    </div>
    {% endblock %}


{% block javascript %}

<script>
  // Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});

</script>

{% endblock %}