{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
<title>{{enterprise.name}} | Carrito</title>
{% endblock %}

{% block palette %}

  {% if templates %}
    {% if templates.id == 0 %}
      <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 1 %}
      <link href="{% static 'css/sb-admin-2 - green.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 2 %}
      <link href="{% static 'css/sb-admin-2 - light blue.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 3 %}
      <link href="{% static 'css/sb-admin-2 - red.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 4 %}
      <link href="{% static 'css/sb-admin-2 - dark.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 5 %}
      <link href="{% static 'css/sb-admin-2 - orange.min.css'%}" rel="stylesheet">
    {% endif %}
  {% endif %}

{% endblock %}

{% block nav %}

<li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart' id_user=1 %}">
          <img src="{% static 'img/cart.png'%}"width="20px" height="20px" />
          <span>Carrito</span></a>
      </li>
    
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact:contact' %}">
          <img src="{% static 'img/contact.png'%}"width="20px" height="20px" />
          <span>Contacto</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <div class="sidebar-heading">
        Interfaz
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myuser:myuser' %}">
          <img src="{% static 'img/configuration.png'%}"width="20px" height="20px" />
          <span>Ajustes</span>
        </a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <img src="{% static 'img/politics.png'%}"width="20px" height="20px" />
          <span>Políticas de uso</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Políticas del sitio:</h6>
            <a class="collapse-item" href="terms.html">Condiciones de uso</a>
            <a class="collapse-item" href="privacy.html">Política de privacidad</a>
            <a class="collapse-item" href="cookies.html">Aviso de cookies</a>
          </div>
        </div>
      </li>

{% endblock %}

{% block maincontent %}
{%if bad_data %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <strong>Transacción fallida. Saldo insuficiente.</strong>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <strong>Gracias por contribuir a la comunidad!.</strong>
    </div>
    {%endif%}
    <div class="card">
  <div class="card-body">
    <h4 class="card-title"><strong>Valoración de artículos</strong></h4>
    <hr>
    <div class="row">
      <div class="col-sm-8">
        <form method="POST">
      {% csrf_token %}
      {%for bill_det in bill.factura_det_set.all%}
        <label for="Valoracion{{ forloop.counter }}">{{bill_det.id_productos_fk.nombre_producto}}:</label>
        <input type="number" name="{{bill_det.id_productos_fk.nombre_producto}}" min=0 max=5 value="0" id="Valoracion{{ forloop.counter }}">
        <br>
      {%endfor%}
    <button type="submit" class="btn btn-success">Enviar</button>
    </form>
        
      </div>
      <div class="col-sm-4">
            <img class="" alt="avatar" img src="{% static 'img/valorar.jpg'%}" width="290" height="290" alt="">
      </div>
    </div>
    </div><p align="center">
    <a href="{% url 'cart:cart_home' %}"> Volver atrás</a></p>
</div>
{% endblock %}
