{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
<title>{{enterprise.name}} | Carrito</title>
{% endblock %}

{% block palette %}

  {% if templates %}
    {% if templates.id == 0 %}
      <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 1 %}
      <link href="{% static 'css/sb-admin-2 - green.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 2 %}
      <link href="{% static 'css/sb-admin-2 - light blue.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 3 %}
      <link href="{% static 'css/sb-admin-2 - red.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 4 %}
      <link href="{% static 'css/sb-admin-2 - dark.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 5 %}
      <link href="{% static 'css/sb-admin-2 - orange.min.css'%}" rel="stylesheet">
    {% endif %}
  {% endif %}

{% endblock %}

{% block nav %}

<li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart' id_user=1 %}">
          <img src="{% static 'img/cart.png'%}"width="20px" height="20px" />
          <span>Carrito</span></a>
      </li>
    
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact:contact' %}">
          <img src="{% static 'img/contact.png'%}"width="20px" height="20px" />
          <span>Contacto</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <div class="sidebar-heading">
        Interfaz
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myuser:myuser' %}">
          <img src="{% static 'img/configuration.png'%}"width="20px" height="20px" />
          <span>Ajustes</span>
        </a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <img src="{% static 'img/politics.png'%}"width="20px" height="20px" />
          <span>Políticas de uso</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Políticas del sitio:</h6>
            <a class="collapse-item" href="terms.html">Condiciones de uso</a>
            <a class="collapse-item" href="privacy.html">Política de privacidad</a>
            <a class="collapse-item" href="cookies.html">Aviso de cookies</a>
          </div>
        </div>
      </li>

{% endblock %}

{% block maincontent %}
  {%if not_money%}
  <div class="card">
    <div class="card-body">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Transacción fallida. Saldo insuficiente.</strong>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4><p>Lo sentimos, su saldo es insuficiente.</p></h4>
              <h6><p>Por favor, introduzca otra tarjeta...</p></h6>
              <img class="" alt="avatar" img src="{% static 'img/credito.jpg'%}" width="290" height="290" alt="">
            </div>
            <div class="col-sm-6">
              <img class="" alt="avatar" img src="{% static 'img/llorando.jpg'%}" width="390" height="390" alt="">
            </div>
          </div>
        </div>
      </div>

<div class="col-lg-13">   
 <div class="col-sm-12">
  <p align="center"><a href="javascript:history.back()" class="card-link">Volver atrás</a>
    <a href="{% url 'home_app:index' %}" class="card-link">Ir a inicio</a></p>
  </div>
</div>
  {%endif%}
    
  {%if already_valued%}
  <div class="card">
    <div class="card-body">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error. Esta factura ya ha sido valorada.</strong>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4><p>Esta factura fue valorada anteriormente.</p></h4>
              <h6><p>Por favor, regrese a la página anterior...</p></h6>
              <img class="" alt="avatar" img src="{% static 'img/credito.jpg'%}" width="290" height="290" alt="">
            </div>
            <div class="col-sm-6">
              <img class="" alt="avatar" img src="{% static 'img/llorando.jpg'%}" width="390" height="390" alt="">
            </div>
          </div>
        </div>
      </div>
<div class="col-lg-13">   
 <div class="col-sm-12">
  <p align="center"><a href="javascript:history.back()" class="card-link">Volver atrás</a>
    <a href="{% url 'home_app:index' %}" class="card-link">Ir a inicio</a></p>
  </div>
</div>
  {%endif%}

  {%if already_given%}
  <div class="card">
    <div class="card-body">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error. Esta factura no ha sido entregado</strong>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4><p>Esta factura no ha sido entregada.</p></h4>
              <h6><p>Por favor, retire la factura para continuar...</p></h6>
              <img class="" alt="avatar" img src="{% static 'img/credito.jpg'%}" width="290" height="290" alt="">
            </div>
            <div class="col-sm-6">
              <img class="" alt="avatar" img src="{% static 'img/llorando.jpg'%}" width="390" height="390" alt="">
            </div>
          </div>
        </div>
      </div>
<div class="col-lg-13">   
 <div class="col-sm-12">
  <p align="center"><a href="javascript:history.back()" class="card-link">Volver atrás</a>
    <a href="{% url 'home_app:index' %}" class="card-link">Ir a inicio</a></p>
  </div>
</div>
  {%endif%}

  {%if error_quantity%}
    <div class="card">
    <div class="card-body">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Error. La cantidad de artículos es mayor.</strong>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h4><p>La cantidad de artículos es mayor que la disponible.</p></h4>
              <h6><p>Debe volver a hacer el carro...</p></h6>
              <img class="" alt="avatar" img src="{% static 'img/credito.jpg'%}" width="290" height="290" alt="">
            </div>
            <div class="col-sm-6">
              <img class="" alt="avatar" img src="{% static 'img/llorando.jpg'%}" width="390" height="390" alt="">
            </div>
          </div>
        </div>
      </div>
<div class="col-lg-13">   
 <div class="col-sm-12">
  <p align="center"><a href="javascript:history.back()" class="card-link">Volver atrás</a>
    <a href="{% url 'home_app:index' %}" class="card-link">Ir a inicio</a></p>
  </div>
</div>
  {%endif%}
{% endblock %}
