{%extends 'base/base.html'%}
{% load staticfiles %}

{% block palette %}

  {% if templates %}
    {% if templates.id == 0 %}
      <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 1 %}
      <link href="{% static 'css/sb-admin-2 - green.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 2 %}
      <link href="{% static 'css/sb-admin-2 - light blue.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 3 %}
      <link href="{% static 'css/sb-admin-2 - red.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 4 %}
      <link href="{% static 'css/sb-admin-2 - dark.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 5 %}
      <link href="{% static 'css/sb-admin-2 - orange.min.css'%}" rel="stylesheet">
    {% endif %}
  {% endif %}

{% endblock %}

{% block maincontent %}
<form method="POST">
      {% csrf_token %}
      			  {{form.old_password.errors}}
      			  
                  
                  <!--Formulario de contraseña-->
                 <div class="col-md-6">
                 <div class="profile-head">
                  	<div class="form-group">
                    <input class="form-control" type="password" name="old_password" placeholder="Contraseña actual">
                    </div>

             <span class="helptext">
              <ul>
                <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                <li>La contraseña no puede ser una contraseña de uso común.</li>
                <li>Su contraseña no puede ser completamente numérica.</li>
              </ul>
            </span>

                   {{form.new_password1.errors}}
                    <div class="form-group">
                    <input class="form-control" type="password" name="new_password1" placeholder="Nueva contraseña">
                    </div>

                  {{form.new_password2.errors}}  
                    <div class="form-group">
                    <input class="form-control" type="password" name="new_password2" placeholder="Repite la contraseña">
                    </div>

      				<div class="form-group">
                    <br>
                    <button class="btn btn-lg btn-success" type="submit"><i class="	glyphicon glyphicon-ok-sign"></i> Actualizar</button>
          			</div>
          		</div>
          		</div>
</form>
{%endblock%}