{% extends 'base/base.html' %}
{% load staticfiles %}

<link href="{% static 'css/small-business.css' %}" rel="stylesheet">

{% block palette %}

  {% if templates %}
    {% if templates.id == 0 %}
      <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 1 %}
      <link href="{% static 'css/sb-admin-2 - green.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 2 %}
      <link href="{% static 'css/sb-admin-2 - light blue.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 3 %}
      <link href="{% static 'css/sb-admin-2 - red.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 4 %}
      <link href="{% static 'css/sb-admin-2 - dark.min.css'%}" rel="stylesheet">
    {% endif %}
    {% if templates.id == 5 %}
      <link href="{% static 'css/sb-admin-2 - orange.min.css'%}" rel="stylesheet">
    {% endif %}
  {% endif %}

{% endblock %}

{% block nav %}

<li class="nav-item">
        <a class="nav-link" href="{% url 'cart:cart' id_user=1 %}">
          <img src="{% static 'img/cart.png'%}"width="20px" height="20px" />
          <span>Carrito</span></a>
      </li>
    
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact:contact' %}">
          <img src="{% static 'img/contact.png'%}"width="20px" height="20px" />
          <span>Contacto</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <div class="sidebar-heading">
        Interfaz
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myuser:myuser' %}">
          <img src="{% static 'img/configuration.png'%}"width="20px" height="20px" />
          <span>Ajustes</span>
        </a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <img src="{% static 'img/politics.png'%}"width="20px" height="20px" />
          <span>Políticas de uso</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Políticas del sitio:</h6>
            <a class="collapse-item" href="terms.html">Condiciones de uso</a>
            <a class="collapse-item" href="privacy.html">Política de privacidad</a>
            <a class="collapse-item" href="cookies.html">Aviso de cookies</a>
          </div>
        </div>
      </li>

{% endblock %}


{% block maincontent %}


  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" img src="{% url 'contact:preload_image' pk=0 option=2 %}" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light">Bienvenido a {{enterprise.name}}!</h1>
        <p>{{enterprise.description|linebreaks}}</p>
        <a class="btn btn-primary" href="{% url 'contact:contact' %}">Contáctanos!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">{{indexPage.title}}</p>
      </div>
    </div>

    <!-- Content Row -->
    <!-- Page Features -->
    <div class="row text-center">

      {% if articulo %}
      {% for articulo in articulo %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="{% url 'article:show_article' id_article=articulo.pk %}"><img class="card-img-top" img src="{% url 'home:preload_image' pk=articulo.pk %}" alt=""></a>
          <div class="card-body">
            <a href="{% url 'article:show_article' id_article=articulo.pk %}"><h4 class="card-title">{{articulo.nombre_producto}}</h4></a>
            <h5>{{articulo.precio}} bsS</h5>
            <p class="card-text">{{articulo.Descripcion}}</p>
          </div>

          <!-- evaluamos si no está agotado -->
                
                {%if articulo.agotado == False and articulo.cantidad  is not 0%}
                  
                    {% if articulo in items%}
                        <p align="center"><button class="btn btn-danger">Añadido al carro<img src="{% static 'img/carro.png'%}"width="30px" height="30px"></button>
                    {% else %}
                        <form method="POST" action="{% url 'cart:add_to_cart' articulo.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="qty" min=1 max={{articulo.cantidad}} value="1" id="cantidad_id">
                            <!--Botón que añade al carrito-->
                            <p align="center"><button type="submit" class="btn btn-success">Añadir al carro<img src="{% static 'img/carro.png'%}"width="30px" height="30px" /></button></p>
                        </form>
                    {% endif %}
                 
              {%else%}
                 <p align="center"><strong>¡AGOTADO!</strong></p>
              {%endif%}
          
          <div class="card-footer">
                    {% if articulo.valoracion == 0 %}
                      <span class="text-warning">&#9734; &#9734; &#9734; &#9734; &#9734;</span>
                    <h6>{{articulo.id_clasificacion_fk}}</h6>
                    <h6>Sin valoración</h6>
                    {% endif %}
                    {% if articulo.valoracion == 1 %}
                      <span class="text-warning">&#9733; &#9734; &#9734; &#9734; &#9734;</span>
                    <h6>{{articulo.id_clasificacion_fk}}</h6>
                    {% endif %}
                    {% if articulo.valoracion == 2 %}
                      <span class="text-warning">&#9733; &#9733; &#9734; &#9734; &#9734;</span>
                    <h6>{{articulo.id_clasificacion_fk}}</h6>
                    {% endif %}
                    {% if articulo.valoracion == 3 %}
                      <span class="text-warning">&#9733; &#9733; &#9733; &#9734; &#9734;</span>
                    <h6>{{articulo.id_clasificacion_fk}}</h6>
                    {% endif %}
                    {% if articulo.valoracion == 4 %}
                      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                     <h6>{{articulo.id_clasificacion_fk}}</h6>
                    {% endif %}
                    {% if articulo.valoracion == 5 %}
                      <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9733;</span>
                    <h6>{{articulo.id_clasificacion_fk}}</h6>
                    <h6>Artículo destacado!</h6>
                    {% endif %}
                </div>
              </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  <!-- /.container -->

{% endblock %}